In [17]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (2.3.4)
Requirement already satisfied: scipy>=1.8.0 in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (1.16.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [44]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error, r2_score
import pickle
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import pickle
import warnings
warnings.filterwarnings('ignore')

In [32]:
df = pd.read_csv("C:/Users/HP/Downloads/Carbon Footprint/Carbon Emission.csv")
df.head()

,Body Type,Sex,Diet,How Often Shower,Heating Energy Source,Transport,Vehicle Type,Social Activity,Monthly Grocery Bill,Frequency of Traveling by Air,Vehicle Monthly Distance Km,Waste Bag Size,Waste Bag Weekly Count,How Long TV PC Daily Hour,How Many New Clothes Monthly,How Long Internet Daily Hour,Energy efficiency,Recycling,Cooking_With,CarbonEmission
0,overweight,female,pescatarian,daily,coal,public,NaN,often,230,frequently,210,large,4,7,26,1,No,['Metal'],"['Stove', 'Oven']",2238
1,obese,female,vegetarian,less frequently,natural gas,walk/bicycle,NaN,often,114,rarely,9,extra large,3,9,38,5,No,['Metal'],"['Stove', 'Microwave']",1892
2,overweight,male,omnivore,more frequently,wood,private,petrol,never,138,never,2472,small,1,14,47,6,Sometimes,['Metal'],"['Oven', 'Microwave']",2595
3,overweight,male,omnivore,twice a day,wood,walk/bicycle,NaN,sometimes,157,rarely,74,medium,3,20,5,7,Sometimes,"['Paper', 'Plastic', 'Glass', 'Metal']","['Microwave', 'Grill', 'Airfryer']",1074
4,obese,female,vegetarian,daily,coal,private,diesel,often,266,very frequently,8457,large,1,3,5,6,Yes,['Paper'],['Oven'],4743

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Body Type                      10000 non-null  object
 1   Sex                            10000 non-null  object
 2   Diet                           10000 non-null  object
 3   How Often Shower               10000 non-null  object
 4   Heating Energy Source          10000 non-null  object
 5   Transport                      10000 non-null  object
 6   Vehicle Type                   3279 non-null   object
 7   Social Activity                10000 non-null  object
 8   Monthly Grocery Bill           10000 non-null  int64
 9   Frequency of Traveling by Air  10000 non-null  object
 10  Vehicle Monthly Distance Km    10000 non-null  int64
 11  Waste Bag Size                 10000 non-null  object
 12  Waste Bag Weekly Count         10000 non-null  int64
 13  How Long TV PC Daily Hour      10000 non-null  int64
 14  How Many New Clothes Monthly   10000 non-null  int64
 15  How Long Internet Daily Hour   10000 non-null  int64
 16  Energy efficiency              10000 non-null  object
 17  Recycling                      10000 non-null  object
 18  Cooking_With                   10000 non-null  object
 19  CarbonEmission                 10000 non-null  int64
dtypes: int64(7), object(13)
memory usage: 1.5+ MB

In [34]:
df.isnull().sum()

Body Type                           0
Sex                                 0
Diet                                0
How Often Shower                    0
Heating Energy Source               0
Transport                           0
Vehicle Type                     6721
Social Activity                     0
Monthly Grocery Bill                0
Frequency of Traveling by Air       0
Vehicle Monthly Distance Km         0
Waste Bag Size                      0
Waste Bag Weekly Count              0
How Long TV PC Daily Hour           0
How Many New Clothes Monthly        0
How Long Internet Daily Hour        0
Energy efficiency                   0
Recycling                           0
Cooking_With                        0
CarbonEmission                      0
dtype: int64

In [35]:
df.dropna

<bound method DataFrame.dropna of         Body Type     Sex         Diet How Often Shower Heating Energy Source  \
0      overweight  female  pescatarian            daily                  coal
1           obese  female   vegetarian  less frequently           natural gas
2      overweight    male     omnivore  more frequently                  wood
3      overweight    male     omnivore      twice a day                  wood
4           obese  female   vegetarian            daily                  coal
...           ...     ...          ...              ...                   ...
9995        obese    male     omnivore      twice a day                  coal
9996       normal  female        vegan      twice a day                  coal
9997   overweight  female   vegetarian            daily           electricity
9998  underweight    male        vegan  more frequently                  coal
9999        obese    male  pescatarian      twice a day                  wood

         Transport Vehicle Type Social Activity  Monthly Grocery Bill  \
0           public          NaN           often                   230
1     walk/bicycle          NaN           often                   114
2          private       petrol           never                   138
3     walk/bicycle          NaN       sometimes                   157
4          private       diesel           often                   266
...            ...          ...             ...                   ...
9995       private       hybrid       sometimes                   230
9996       private          lpg           never                   234
9997  walk/bicycle          NaN       sometimes                   298
9998       private       petrol           often                   179
9999       private     electric       sometimes                   115

     Frequency of Traveling by Air  Vehicle Monthly Distance Km  \
0                       frequently                          210
1                           rarely                            9
2                            never                         2472
3                           rarely                           74
4                  very frequently                         8457
...                            ...                          ...
9995                         never                          268
9996                    frequently                         5316
9997               very frequently                           96
9998                        rarely                         8688
9999                         never                         9952

     Waste Bag Size  Waste Bag Weekly Count  How Long TV PC Daily Hour  \
0             large                       4                          7
1       extra large                       3                          9
2             small                       1                         14
3            medium                       3                         20
4             large                       1                          3
...             ...                     ...                        ...
9995         medium                       5                         12
9996    extra large                       3                         14
9997    extra large                       5                         11
9998         medium                       5                         19
9999          small                       4                         11

      How Many New Clothes Monthly  How Long Internet Daily Hour  \
0                               26                             1
1                               38                             5
2                               47                             6
3                                5                             7
4                                5                             6
...                            ...                           ...
9995                            27                             9
9996                             8                            24
9997                             5                            24
9998                            14                             5
9999                             6                             0

     Energy efficiency                               Recycling  \
0                   No                               ['Metal']
1                   No                               ['Metal']
2            Sometimes                               ['Metal']
3            Sometimes  ['Paper', 'Plastic', 'Glass', 'Metal']
4                  Yes                               ['Paper']
...                ...                                     ...
9995               Yes                                      []
9996         Sometimes                    ['Paper', 'Plastic']
9997               Yes           ['Paper', 'Plastic', 'Metal']
9998         Sometimes                      ['Paper', 'Metal']
9999         Sometimes           ['Plastic', 'Glass', 'Metal']

                                     Cooking_With  CarbonEmission
0                               ['Stove', 'Oven']            2238
1                          ['Stove', 'Microwave']            1892
2                           ['Oven', 'Microwave']            2595
3              ['Microwave', 'Grill', 'Airfryer']            1074
4                                        ['Oven']            4743
...                                           ...             ...
9995                                ['Microwave']            2408
9996                       ['Stove', 'Microwave']            3084
9997           ['Microwave', 'Grill', 'Airfryer']            2377
9998  ['Stove', 'Microwave', 'Grill', 'Airfryer']            4574
9999                ['Oven', 'Grill', 'Airfryer']             826

[10000 rows x 20 columns]>

In [36]:
df.shape

(10000, 20)

In [37]:
x = df[['Monthly Grocery Bill',
        'Vehicle Monthly Distance Km',
        'How Long TV PC Daily Hour',
        'How Many New Clothes Monthly',
        'How Long Internet Daily Hour']]
y = df['CarbonEmission']

In [38]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [49]:
models = {
    'Linear Regression': LinearRegression(),
    'Decision Tree': DecisionTreeRegressor(max_depth=10, random_state=42),
    'Random Forest': RandomForestRegressor(n_estimators=100, max_depth=10, random_state=42),
    'Gradient Boosting': GradientBoostingRegressor(n_estimators=100, max_depth=5, random_state=42),
    'K-Nearest Neighbors': KNeighborsRegressor(n_neighbors=5),
    'Support Vector Machine': SVR(kernel='rbf', C=100, gamma=0.1)
}

In [50]:
results = []
best_model = None
best_r2 = -float('inf')

print("=" * 80)
print("CARBON FOOTPRINT PREDICTION - MODEL COMPARISON")
print("=" * 80)

================================================================================
CARBON FOOTPRINT PREDICTION - MODEL COMPARISON
================================================================================

In [51]:
for name, model in models.items():
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)

    cv_scores = cross_val_score(model, x_train, y_train, cv=5, scoring='r2')
    cv_mean = cv_scores.mean()
    
    results.append({
        'Model': name,
        'MSE': mse,
        'RMSE': rmse,
        'MAE': mae,
        'R2 Score': r2,
        'CV R2 Mean': cv_mean
    })
    
    print(f"\n{name}:")
    print(f"  MSE:      {mse:,.2f}")
    print(f"  RMSE:     {rmse:,.2f}")
    print(f"  MAE:      {mae:,.2f}")
    print(f"  R² Score: {r2:.4f}")
    print(f"  CV R² Mean: {cv_mean:.4f}")
    
    if r2 > best_r2:
        best_r2 = r2
        best_model = model
        best_model_name = name

Linear Regression:
  MSE:      601,691.26
  RMSE:     775.69
  MAE:      609.32
  R² Score: 0.4213
  CV R² Mean: 0.3908

Decision Tree:
  MSE:      817,219.62
  RMSE:     904.00
  MAE:      688.74
  R² Score: 0.2140
  CV R² Mean: 0.1915

Random Forest:
  MSE:      628,732.04
  RMSE:     792.93
  MAE:      619.60
  R² Score: 0.3953
  CV R² Mean: 0.3766

Gradient Boosting:
  MSE:      642,460.16
  RMSE:     801.54
  MAE:      622.91
  R² Score: 0.3821
  CV R² Mean: 0.3645

K-Nearest Neighbors:
  MSE:      734,621.16
  RMSE:     857.10
  MAE:      662.35
  R² Score: 0.2934
  CV R² Mean: 0.2776

Support Vector Machine:
  MSE:      1,084,938.77
  RMSE:     1,041.60
  MAE:      763.67
  R² Score: -0.0435
  CV R² Mean: -0.0333

In [52]:
results_df = pd.DataFrame(results)
results_df = results_df.sort_values('R2 Score', ascending=False)

print("\n" + "=" * 80)
print("RANKING BY R² SCORE")
print("=" * 80)
print(results_df.to_string(index=False))

================================================================================
RANKING BY R² SCORE
================================================================================
                 Model          MSE        RMSE        MAE  R2 Score  CV R2 Mean
     Linear Regression 6.016913e+05  775.687604 609.322362  0.421288    0.390767
         Random Forest 6.287320e+05  792.926250 619.603979  0.395280    0.376645
     Gradient Boosting 6.424602e+05  801.536124 622.914901  0.382077    0.364499
   K-Nearest Neighbors 7.346212e+05  857.100440 662.349500  0.293435    0.277636
         Decision Tree 8.172196e+05  904.002002 688.742014  0.213991    0.191484
Support Vector Machine 1.084939e+06 1041.603939 763.670700 -0.043503   -0.033323

In [53]:
with open('best_model.pkl', 'wb') as f:
    pickle.dump(best_model, f)

results_df.to_csv('model_comparison.csv', index=False)

with open('best_model_info.txt', 'w') as f:
    f.write(f'Best Model: {best_model_name}\n')
    f.write(f'R² Score: {best_r2:.4f}\n')
    f.write(f'RMSE: {np.sqrt(mean_squared_error(y_test, best_model.predict(x_test))):,.2f}\n')
    f.write(f'MAE: {mean_absolute_error(y_test, best_model.predict(x_test)):,.2f}\n')
    f.write(f'\nModel trained on {len(x_train)} samples\n')
    f.write(f'Tested on {len(x_test)} samples\n')

print(f"\n{'=' * 80}")
print(f"BEST MODEL: {best_model_name} (R² = {best_r2:.4f})")
print(f"Model saved as 'best_model.pkl'")
print(f"{'=' * 80}")

================================================================================
BEST MODEL: Linear Regression (R² = 0.4213)
Model saved as 'best_model.pkl'
================================================================================